.element__vector {
    padding: 5px 0 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.element__vector:hover {
    opacity: 0.6;
}
