.header__logo {
    padding-bottom: 40px;
}

@media (max-width: 881px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media (max-width: 400px) {
    .header__logo {
        max-height: 24px;
        padding-bottom: 31px;
    }
}