.popup__close-icon {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    background-position: center;
    background-image: url("../../../images/close_icon.svg");
    height: 40px;
    width: 40px;
    position: absolute;
    top: -37px;
    right: -37px;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media (max-width: 600px) {
    .popup__close-icon {
        background-size: cover;
        width: 35px;
        height: 35px;
        top: -25px;
        right: -25px;
    }
}