.page__container {
    max-width: 882px;
    margin: 0 auto;
    padding: 45px 50px 60px 50px;
}

@media (max-width: 881px) {
    .page__container {
        padding-right: 19px;
        padding-left: 19px;
        padding-bottom: 36px;
    }
}

@media (max-width: 320px) {
    .page__container {
        padding-top: 28px;
    }
}